body {background: linear-gradient(to bottom, #1a538d, #ce478b);
color: white;
margin: 0;
font-family: Arial, sans-serif;}


.cabecalho-imagem {background: transparent;
    color: white;
    display: flex;
    padding: 24px 0;}

.cabecalho {
    background: none;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 24px 0;
}
    
    .cabecalho-lista-item{
        display: inline-block;
        margin: 0 16px;
        }
        * {
            margin: 0 16px;
            padding: 24px 0;
            font-size: 24px;
        }
        .escola-imagem {
            width: 25%;
        }
        .escola-conteudo{
            width: 35%;
            }